body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #5a0071;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header h1{
    display: inline-block;
    color: #fff;

    
}
header nav{
    float: right;
    padding-top: 15px;
    margin-right: 90px;
    font-size: larger;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    margin-left: 25px;
}
a{
    color: white;
    text-decoration: none;

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.fit-pic{
    width:100%;
    height: 50%;
    background-image: none;
    display:flex ;
    flex-wrap: wrap;
}


.benefits{
    
    padding: 100px;
     float: left;
    background-color: #850da3;
    border-right: 10px solid #5a0071;
    }

    

    
.about-me-text{
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.left-text{
    font-size: 80px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    text-decoration: underline;
}
.right-text{
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    text-decoration: underline;
}


.repository { 
     padding: 10px 20px; 
    background-color: #b313c8;
    color: #fff;
    margin: 10px 10px 10px 10px;
    transition: background-color 0.9s;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* height: 110px; */
     /* width: auto;  */
}
.repository:hover {
    background-color: #5a0071;
}
.repository h2 {
    margin: 0;
}
.main-idol{

}
.idol{

height: 100%;
width: 100%;
align-content: center;

}
.repository-one { 
    padding: 10px 20px; 
   background-color: #b313c8;
   color: #fff;
   border: 2px solid #5a0071;
   border-radius: 5px;
   margin: 10px 10px 10px 10px;
   transition: background-color 0.9s;
   
}
.repository-one:hover {
   background-color: #5a0071;
}
.repository-one h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.repository-inside { 
    padding: 20px 40px; 
   background-color: #b313c8;
   margin: 10px 10px 10px 10px;
   gap: 10px;
   transition: background-color 0.9s;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.repository-inside:hover {
   background-color: #5a0071;
}
.ja-rule{
    height: 50%;
    width: 50%;
}