body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5a0071;
    color: #fff;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header h1{
    display: inline-block;
    
}
header nav{
    float: right;
    padding-top: 15px;
    margin-right: 20px;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    margin-left: 25px;
    
}
.fit-pic{
    width:100%;
    height: 50%;
    background-image: none;
    display:flex ;
    flex-wrap: wrap;
}
.benefits{
    
    padding: 100px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(163, 161, 161);
    border-right: 10px solid #5a0071;
    }
.benefit-lead { /*made one catagory for lead line 90*/
        margin-bottom: 32px;
        color: #ffffff;
    }
.benefit-lead h3 { /*made one catagory for h3 line 94*/
        margin-bottom: 10px;
        text-align: center;
    }
.benefit-lead img { /*made one catagory for img line 98 */
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }

.repository {
    /* padding: 10px 20px; */
    background-color: #b313c8;
    color: #fff;
    border: 1px solid #5a0071;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    transition: background-color 0.9s;
    display: flex;
    height: 110px;
    width: auto;
}
.repository:hover {
    background-color: #5a0071;
}
.repository h2 {
    margin: 0;
}

/* .repository a { 
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #f8f9f9;
}*/
